@use "leptos-bulma.scss";

:root {
    --bulma-body-background-color: var(--bulma-scheme-main-bis);
}

main.container {
    min-height: calc(100vh - 280px);
}

ul {
    list-style: disc;
    padding-left: 40px;
}

.footer {
    --bulma-footer-background-color: var(--bulma-scheme-main-ter);
    --bulma-footer-padding: 3rem 1.5rem;
}

.navbar-brand {
    min-width: 240px;

    img {
        max-height: unset;
    }

    .job-titles-carousel {
        transition: unset;
    }
}

.navbar-end {
    display: flex;
    justify-content: center;
}

.icon.is-rotating {
    animation: rotating 1.5s linear infinite;
}

.job-titles-carousel {
    display: inline-block;
    max-width: 310px;
    transition: max-width 0.5s;
    overflow: hidden;
    vertical-align: bottom;

    div {
        overflow: hidden;
        width: max-content;
    }
}

.loading-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    transition:
        visibility 0s 0.3s,
        background-color 0.3s;

    &.is-done {
        background-color: #0000;
        opacity: 1;
        visibility: hidden;
    }
}

.post-content {
    p {
        margin-bottom: 1rem;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
