@use "leptos-bulma.css";

main.container {
    min-height: calc(100vh - 275px);
}

ul {
    list-style: disc;
    padding-left: 40px;
}

.footer {
    padding: 3rem 1.5rem;
}

.navbar-brand {
    min-width: 240px;

    img {
        max-height: unset;
    }

    .job-titles-carousel {
        transition: unset;
    }
}

.navbar-end {
    display: flex;
    justify-content: center;
}

.job-titles-carousel {
    display: inline-block;
    max-width: 310px;
    transition: max-width 0.5s;
    overflow: hidden;
    vertical-align: bottom;

    div {
        overflow: hidden;
        width: max-content;
    }
}
